// $card-background
// $app-black-1: #040d19;
$app-black-1: #13131a;
$app-black-2: #1c1c24;
$app-black-3: #17171e;
$app-black-4: #292932;
$text-secondary: var(--text-color-secondary);
$button-primary: #0393d6;
$button-secondary: #e4952f;
$button-tertiary: rgb(239 83 80);

$handheld-width: 991px;
